
.DS_Store
*/.DS_Store
*/*/.DS_Store

__pycache__/
*.pyc
*.pyo
*.egg-info/
__pycache__/
*.pyc
.vscode/
data/BRDFDatabase/
data/models/
dist/
output/
*.egg-info/
__pycache__/
*.pyc
.DS_Store
dist/
output/
*.egg-info/
__pycache__/
*.pyc
.DS_Store
models/Starlink/
models/Intelsat 1R/
models/Falcon9 RB model/
dist/
output/
*.egg-info/
__pycache__/
*.pyc
.DS_Store
models/Starlink/
models/Intelsat 1R/
models/Falcon9 RB model/
dist/
output/
*.egg-info/
__pycache__/
*.pyc
.DS_Store
models/Starlink/
models/Intelsat 1R/
models/Falcon9 RB model/
output/*.csv
output/*.npy
output/*.png
output/*.mp4
docs/_build/
